.header {
  background: url('../img/sprite/card-img.png');
}

.el {
  background: url('../img/review.png');
}

.el1 {
  background: url('../img/test.svg');
}

.el2 {
  background: url('../img/sprite/fa-amazon.svg');
}

.test {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 14px;
  border: 1px solid #000000;
  background: url('../img/fb-icon.svg') center no-repeat;
  background-color: #ffffff;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
