/*
  Координаты медиа-запросов
 */
$xs: 544px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$min-width: 320px; // Минимальная ширина приложения
$max-width: 1920px; // Максимальная ширина приложения


$font-base: "Roboto", Arial, Verdana, sans-serif;
$font-color: #000000;
$background-color: #ffffff;
