// Настройка медиа-запросов
$breakpoints: (
  'xs': 481px,
  'sm': 768px,
  'md': 992px,
  'lg': 1200px,
  'wlg': 1680px,
  'max': 1920px,
);


$min-width: 1280px;

$font-base: 'Roboto', arial, verdana;
$font-color: #000;
